.hide {
  display: none;
}

p {
  padding-left: 250px;
  padding-right: 250px;
}

h1 {
  color: cadetblue;
  font-family: "Fredericka the Great", cursive;
}
#start-screen {
  text-align: center;
}

#start-quiz {
  border-radius: 50%;
  background-color: cadetblue;
  color: seashell;
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
}

#question {
  text-align: center;
}

.choices {
  text-align: center;
}

.answer-button {
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  background-color: cadetblue;
  color: seashell;
  font-weight: bold;
  font-size: 15px;
}

#end-screen {
  text-align: center;
}

img {
  height: 400px;
  width: 600px;
}

#score-text {
  margin: 25px;
  font-size: 25px;
  font-weight: bold;
  color: indianred;
  font-family: "Fredericka the Great", cursive;
}

#question-title {
  font-family: "Baloo Paaji 2", cursive;
  color: darkgoldenrod;
}

#timer {
  font-family: "Baloo Paaji 2", cursive;
  color: indianred;
}

body {
  background-color: lemonchiffon;
}

/* .container {
  background-color: lemonchiffon;
} */
